/*CSS originally taken from codepen.io*/

/*I used Vanilla CSS to fix the sidebar by accumulating the widths of
containers and padding to add to 100%*/

body {
  padding: 0%;
  margin: 3%;
}
header {
  background: lightblue;
}

/*Main container is 90% width*/

/*Left Section container is 70%*/
section {
  background: lightgreen;
  width: 70%;
  float: left;
}
  article {
    background: white;
    margin: 0 0 1rem 0;
  }

/*Right Aside container is 20%*/
aside {
  background: pink;
  width: 20%;
  float: right;
}

.module {
  margin: 5%;
}

/*Padding for the section and and article is*/
header, article, section {
  padding: 5%;
}
